.dropdowns {
  color: white;
  max-height: 30px;

  .dropdown {
    .input-group {
      input {
        color: white;
      }
      .expand-arrow {
        background-color: $color-blue;
        border-style: none;
        border-radius: 0.25rem;
        @include flex-center;
        button {
          color: white;
        }
      }
    }
  }
}

.ingredient {
  .input-group {
    input {
      background-color: $color-blue;
      border-style: none;
    }
  }
  .keywords {
    background-color: $color-blue;
    position: relative;
    top: -5px;
    border-style: none;
  }
  .keywords:focus {
    background-color: $color-blue;
  }
}

.appliance {
  .input-group {
    input {
      background-color: $color-green;
    }
  }
  .keywords {
    background-color: $color-green;
  }
}

.ustensils {
  .input-group {
    input {
      background-color: $color-red;
    }
  }
  .keywords {
    background-color: $color-red;
  }
}

// .keywords {
//   display: none !important;
// }

.dropdown:focus-within > .keywords {
  display: block !important;
}

.form-control {
  border-style: none !important;
  box-shadow: none !important;
  &:focus {
    border-style: none !important;
    box-shadow: none !important;
  }
}

// TEST

.ingredient-input {
  input {
    background-color: $color-blue;
    border-style: none;
  }
}
.keywords {
  background-color: $color-blue;
  position: relative;
  top: -5px;
  border-style: none;
}
.keywords:focus {
  background-color: $color-blue;
}

.kaywords {
  display: none !important;
  border-radius: 0.25rem;
}

.keywords {
  position: absolute;
  display: none !important;
  z-index: 99;
}

.input:focus-within + .keywords {
  display: block !important;
}


