.dropdowns {
  color: white;
  max-height: 30px;
}

.dropdown {
  .input {
    .input-group {
      input {
        color: white;
        border-style: none;
        font-size: 18px;
      }
      .expand-arrow {
        border-style: none;
        border-radius: 0.25rem;
        @include flex-center;
        button {
          color: white;
        }
      }
    }
  }
}

.dropdown:focus-within input::placeholder {
  opacity: 0.6;
}

.ingredient {
  .input-group {
    * {
      background-color: $color-blue;
      &:focus {
        background-color: $color-blue;
      }
    }
  }
  .keywords {
    background-color: $color-blue;
  }
}

.appliance {
  .input-group {
    * {
      background-color: $color-green;
      &:focus {
        background-color: $color-green;
      }
    }
  }
  .keywords {
    background-color: $color-green;
  }
}

.ustensils {
  .input-group {
    * {
      background-color: $color-red;
      &:focus {
        background-color: $color-red;
      }
    }
  }
  .keywords {
    background-color: $color-red;
  }
}

.dropdown:focus-within > .keywords {
  display: flex !important;
}

.form-control {
  border-style: none !important;
  box-shadow: none !important;
  &:focus {
    border-style: none !important;
    box-shadow: none !important;
  }
}

.keywords {
  top: 47px;
  left: 4px;
  border-style: none;
  display: none !important;
  border-radius: 0.25rem;
  position: absolute;
  z-index: 99;

  > * {
    padding-left: 15px !important;
  }
}
