.dropdowns {
  color: white;
  max-height: 30px;
}

.dropdown {
  .input-group {
    input {
      color: white;
      border-style: none;
    }
    .expand-arrow {
      border-style: none;
      border-radius: 0.25rem;
      @include flex-center;
      button {
        color: white;
      }
    }
  }
}

.ingredient {
  .input-group {
    * {
      background-color: $color-blue;
      &:focus {
        background-color: $color-blue;
      }
    }
  }
  .keywords {
    background-color: $color-blue;
  }
}

.appliance {
  .input-group {
    * {
      background-color: $color-green;
      &:focus {
        background-color: $color-green;
      }
    }
  }
  .keywords {
    background-color: $color-green;
  }
}

.ustensils {
  .input-group {
    * {
      background-color: $color-red;
      &:focus {
        background-color: $color-red;
      }
    }
  }
  .keywords {
    background-color: $color-red;
  }
}

.dropdown:focus-within > .keywords {
  display: flex !important;
}

.form-control {
  border-style: none !important;
  box-shadow: none !important;
  &:focus {
    border-style: none !important;
    box-shadow: none !important;
  }
}

.keywords {
  top: 40px;
  left: 4px;
  border-style: none;
  display: none !important;
  border-radius: 0.25rem;
  position: absolute;
  z-index: 99;

  > * {
    margin: 0 !important;
  }
}
