.tags {
  display: flex;
  gap: 20px;
  margin: 20px 0px !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
}

.tag[data-category="ingredient"] {
  background-color: $color-blue;
}
.tag[data-category="appliance"] {
  background-color: $color-green;
}
.tag[data-category="ustensils"] {
  background-color: $color-red;
}

.tag {
  padding: 5px 10px;
  color: white;
  font-size: 14px;
  border-radius: 0.25rem;
  @include flex-center;
  gap: 20px;
  .text {
  }
  .cancel {
    font-size: 18px;
  }
}
