body {
  font-family: lato;
  display: flex;
  flex-direction: column;

  > * {
    margin: 0 5vw;
  }
}

header {
  a {
    margin: 20px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .brand {
      width: 50px;
    }

    h1 {
      margin: 10px 0;
      font-family: "DM Sans", sans-serif;
      font-size: 36px;
      color: #d04f4f;
      font-weight: bold;
    }
  }
}

nav {
  font-size: 18px;
}

.search-results {
  // grid-column-gap: 10px;
  // grid-row-gap: 10px;
}

.card-ingredients {
}

.card-body {
  .row {
    div {
      max-height: 200px;

      line-clamp: 5 "… (continued on next page)";
    }
  }
}

.card {
  height: 10vw;

  .card-img-top {
    height: 15vw;
    color: $color-bg-dark;
    background-color: $color-bg-dark;
  }
}

.card-body {
  .card-time::before {
    content: url(/assets/icons/clock.png);
    position: relative;
    top: 3px;
    right: 4px;
  }

  .card-title,
  .card-time {
    font-size: 18px;
    line-height: 18px;
  }

  .card-ingredients,
  .card-description {
    font-size: 12px;
  }

  .card-description {
    font-family: Roboto;
  }
}
